# Exclude this file
config.log
config.status
aclocal.m4
.buildconfig
configure
configure.ac
install-sh
Makefile.in 
Makefile.am
Makefile
README
hello-world.desktop
hello-world.desktop.in
autom4te.cache
missing
.vscode/
autom4te.cache/